<hr>
<br>

<ul>
  {{#each question.answers as |answer|}}
    <div class="well answer-tile">
      {{answer-tile answer=answer}}
    </div>
  {{/each}}
</ul>

<hr>
<hr>

<div class="review-tile">
  <h2>Reviews:</h2>
  <ul>
    {{#each sortedReviews as |review|}}
      <div class="well review-well">
        {{review-tile review=review}}
      </div>
    {{/each}}
  </ul>
</div>
