
<hr>
<br>
<ul>
  {{#each question.answers as |answer|}}
    <div class="well answer-tile">
      {{answer-tile answer=answer}}
    </div>
  {{/each}}
</ul>

<hr>
<hr>

<div class="review-tile">
  <h2>Reviews:</h2>
  <ul>
    {{#each question.reviews as |review|}}
      {{review-tile review=review}}
    {{/each}}
  </ul>
</div>
