
<hr>
<br>
<ul>
  {{#each question.answers as |answer|}}
    <div class="well answer-tile">
      {{answer-tile answer=answer}}
    </div>
  {{/each}}
</ul>

<h5>Reviews</h5>
<ul>
  {{#each question.reviews as |review|}}
    {{review-tile review=review}}
  {{/each}}
</ul>
