<li>
  <h3 class="index-questions">{{#link-to 'question' question.id}}{{question.content}}<br>
  {{/link-to}}</h3>
  by: {{question.author}}

<br>
  <button class="btn btn-caution like"{{action 'addToFavorites' question}}><img src="./../images/like.png"></button>
</li>
