<li>
  {{#link-to 'question' question.id}}{{question.content}}<br>
  {{/link-to}}
  by: {{question.author}}
  <!-- {{new-question saveQuestion2="saveQuestion3"}} -->
  <!-- {{update-question question=question update="update"}} -->
</li>
