body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b9/Orion_Nebula_(M42)_part_HST_4800px.jpg");
}

a {
  color: #7f1a3e;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

a:hover {
  color: #ff8d0f;
  text-decoration: none;
}

.nav-link {
  margin-left: 40px;
  font-size: 3rem;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.6);
}

.well {
  background-color: rgba(255, 255, 255, 0.7);
}

.jumbotron h1 {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  font-size: 8rem;
}

.jumbotron {
  background-color: rgba(123, 100, 99, 0.0);
}

.subtitle {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
}

.new-question {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.question-block {
  margin-top: 40px;
}

.question-form {
text-align: center;
}

.the-question {
  text-align: center;
}

.edit-button {
  display: block;
  margin: auto;
  margin-top: 15px;
}

.edit-form {
  text-align: center;
  margin-top: 20px;
}

.answer-form {
  text-align: center;
}

.answer-content {
  font-size: 16px;
}

.answer-button {
  display: block;
  margin: auto;
  margin-top: 15px;
}

#the-question {
  text-align: center;
}
