body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b9/Orion_Nebula_(M42)_part_HST_4800px.jpg");
}

a {
  color: #7f1a3e;
  font-family: 'Abril Fatface', cursive;
}

a:hover {
  color: #fb8779;
  text-decoration: none;
}

button {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

ul {
  list-style-type: none;
}

.like {
  display: block;
  margin-left: 95%;
}

.btn-primary:hover {
  background-color: #fb8779;
  border-color: #fb8779;
}

.btn-primary {
  background-color: #e55346;
  border-color: #e55346;
  padding: 20px;
  font-size: 16px;
}

.btn-danger {
  background-color: #78104d;
  padding: 20px;
  font-size: 16px;
  border-color: #78104d;
}

.btn-caution {
  background-color: #fb8779;
  border-color: #fb8779;
  color: white;
}

.btn-caution:hover {
  background-color: #e55346;
  border-color: #e55346;
  color: white;
}

.btn-danger:hover {
  background-color: #9d0061;
  border-color: #9d0061;
}

.nav-link a {
  color: #fb8779;
  margin-left: 40px;
  font-size: 3rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.nav-link a:hover {
  color: #7f1a3e;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.6);
}

.fav-nav {
  margin-left: 85%;
}

.well {
  background-color: rgba(255, 255, 255, 0.7);
}

.jumbotron h1 {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  font-size: 8rem;
  color: #7f1a3e;
}

.jumbotron {
  background-color: rgba(123, 100, 99, 0.0);
}

.subtitle {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  color: #7f1a3e;
}

.new-question {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.question-block {
  margin-top: 20px;
}

.question-form {
text-align: center;
}

.question-form h3 {
  font-family: 'Abril Fatface', cursive;
}

.the-question {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  color: #7f1a3e;
}

.the-question h3,h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.review-button {
  display: block;
  margin: auto;
  margin-top: 15px;
}

.review-form {
  text-align: center;
  margin-top: 20px;
}

.review-form h3 {
  font-family: 'Abril Fatface', cursive;
}

.review-tile {
  color: white;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.review-tile h2 {
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}

.review-well {
  background-color: rgba(120, 16, 77, 0.7);
  border: none;
  margin: 2px;
}

.edit-button {
  display: block;
  margin: auto;
  margin-top: 15px;
}

.edit-form {
  text-align: center;
  margin-top: 20px;
}

.edit-form h3 {
  font-family: 'Abril Fatface', cursive;
}

.answer-form {
  text-align: center;
  margin-top: 20px;
}

.answer-form h3 {
  font-family: 'Abril Fatface', cursive;
}

.answer-title {
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}

.answer-content {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.answer-button {
  display: block;
  margin: auto;
  margin-top: 15px;
}

.fav-header {
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  color: #7f1a3e;
}

#the-question {
  text-align: center;
}
