<div class= "container">
  <header class= "jumbotron">
    <h1>question &amp; answer</h1>
  </header>
  <div class="navbar">

    <div class="nav-link">
      {{#link-to 'index'}}home{{/link-to}}
    </div>
  </div>
    {{outlet}}
</div>
