<div class= "container">
  <header class= "jumbotron">
    <h1>question &amp; answer</h1>
  </header>
  <div class="navbar">

    <div class="nav-link">
      {{#link-to 'index'}}<img src="./../images/house-outline.png">{{/link-to}}
      {{#link-to 'favorites-route'}}<img src="./../images/heart.png">{{/link-to}}
    </div>
  </div>
    {{outlet}}
</div>
