<h2 class="subtitle">stay curious.</h2>
<hr>

{{new-question saveQuestion2="saveQuestion3"}}


<hr>

<ul>
  {{#each model.questions as |question|}}
    <div class="well question-block">
      {{question-tile question=question}}
    </div>
  {{/each}}
</ul>

<hr>
