<h3 class="subtitle">wonder away.</h3>
<hr>

{{new-question saveQuestion2="saveQuestion3"}}


<hr>

<div class="jumbotron question-block">
  <ul>
    {{#each model.questions as |question|}}
      {{question-tile question=question}}
    {{/each}}
  </ul>
</div>
